nav(role='navigation')
  #menuToggle
    input(type='checkbox')
    span
    span
    span
    ul#menu
        form(action="/auth/dashboard", method="get")
            li
                input(type="submit", value="Dashboard")
        form(action="/auth/search", method="get")
            li
                input(type="submit", value="Search")
        form(action="/auth/movies", method="get")
            li
                input(type="submit", value="Movies")
        form(action="/auth/logout", method="post")
            li
                input(type="submit", value="LogOut")