doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/a5b1eae3e6.js" crossorigin="anonymous") 

        style
            include ../public/css/style.css
            include ../public/css/menu.css
        title Sign Up
    body
        #container_form
            form(id="register_form" action="/signup", method="POST" autocomplete="off")
                label(for="name") Name
                input(type="text" name="name" id="name" required) 
                label(for="nickname") Nickname
                input(type="text" name="nickname" id="nickname" required) 
                label(for="email") Email
                input(type="mail" name="email" id="email" required) 
                label(for="password") Password
                #pass_container
                    input(type="password" name="password" id="password" required) 
                    i(id="togglePassword" class="fas fa-eye-slash")
                input(type="submit", value="Register User")
        script
            include ../utils/togglepass.js
        